.promo {
    padding-top: 120px;
    width: 100%;
    height: 825px;
    position: relative;
    .separator {
        position: absolute;
        height: 100%;
        width: 1003px;
        background-color: #F1EADC;
        right: -165px;
        z-index: -1;
    }
    .container {
        max-width: 1110px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .content {
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            // background-color: orange;
            height: 100%;
            width: 650px;
            .news {
                // background-color: olivedrab;
                width: 550px;
                height: 580px;
                h1 {
                    font-size: 56px;
                    font-weight: 500;
                    line-height: 110%;
                }
                .description {
                    width: 385px;
                    margin-top: 45px;
                    text-align: right;
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 140%;
                }
                .arrow {
                    height: 100%;
                    cursor: pointer;
                }
                .navigation {
                    display: flex;
                    width: 310px;
                    height: 68px;
                    margin-left: 65px;
                    margin-top: 52px;
                    button {
                        background-color: #6E9C9F;
                        border: none;
                        width: 100%;
                        height: 100%;
                        color: #FFF;
                        text-align: center;
                        font-size: 17px;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }
        }
        .pictures {
            display: block;
            position: relative;
            width: 460px;
            .images {
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                .mainImage {
                    position: absolute;
                    right: 0;
                }
                .image {
                    height: 318px;
                    position: absolute;
                    z-index: 1;
                    &:nth-child(2) {
                        top: 123px;
                        right: -103px;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                        left: -80px;
                    }
                }
            }
        }
    }
}