header {
    height: 120px;
    background-color: #fff;
    padding-top: 51px;
    width: 100%;
    position: fixed;
    z-index: 2;
    .container {
        display: flex;
        position: relative;
        max-width: 1110px;
        height: 28px;
        margin: 0 auto;
        justify-content: space-between;
        .phone {
            display: flex;
            width: 165px;
            justify-content: space-between;
            margin-left: 177px;
            p {
                font-size: 15px;
            }
        }
        .cart {
            right: 0px;
        }
    }
}