header {
    height: 120px;
    background-color: #fff;
    padding-top: 51px;
    width: 100%;
    position: fixed;
    .container {
        display: flex;
        position: relative;
        max-width: 1110px;
        height: 28px;
        margin: 0 auto;
        justify-content: space-between;
        .logo {
            cursor: pointer;
        }
        .list {
            display: flex;
            justify-content: space-between;
            margin-left: 145px;
            width: 400px;
            height: 100%;
            .link {
                list-style: none;
                font-size: 15px;
                font-weight: 400;
                line-height: 140%;
                color: black;
                cursor: pointer;
            }
            .linkActive {
                font-weight: 700;
                color: #6E9C9F;
                list-style: none;
                font-size: 15px;
                line-height: 140%;
                cursor: pointer;
            }
        }
        .phone {
            display: flex;
            width: 165px;
            justify-content: space-between;
            margin-left: 177px;
            p {
                font-size: 15px;
            }
        }
        .cart {
            right: 0px;
        }
    }
}